* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #c93030, #f7cc24);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: black;
}

.headbox {
  box-shadow: black;
  width: 18rem;
  font-family: cursive;
  margin: auto;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  box-shadow: 0rem 0.4rem 0.5rem 0.1rem;
  border-radius: 0.5rem;
}

.mainhead {
  font-size: 1.8rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  justify-content: center;
  height: 2.2rem;
  width: 45.2rem;
  margin: auto;
  margin-bottom: 2rem;
}

.task {
  width: 35rem;
}

.duedate {
  width: 8rem;
}

.todo-button {
  width: 2.2rem;
  color: #ff6f47;
  background-color: white;
  border: oldlace;
}

.todo-button :hover {
  color: white;
  background-color: #ff6f47;
}

i {
  width: 2rem;
  height: 2rem;
  padding-top: 0.55rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 0.4rem; */
  height: 2rem;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.todo li {
  flex: 1;
  padding: 1rem;
}

.delete-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  height: 2rem;
}

.delete-btn:hover {
  background-color: red;
}

.complete-btn:hover {
  background-color: green;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  transition: 1s;
}
